<!DOCTYPE html>
%html
%head
  %title
    Le Blog de Paul Gruson
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  .container-fluid
    .row-fluid
      .span12
        .navbar.navbar-inverse
          .navbar-inner
            .container-fluid
              = link_to "Admin : Le blog de Paul", admin_root_url, class: "brand"

              .nav-collapse.collapse.navbar-responsive-collapse
                %ul.nav
                  %li.active
                    = link_to "__Accueil", admin_root_path

                %ul.nav.pull-right
                  %li
                    - if current_user
                      = link_to "__Se deconnecter", destroy_user_session_path, :method => :delete
                    - else
                      = link_to "__Se connecter", new_user_session_path



    .row-fluid
      = render 'layouts/messages'
      = yield
